{{docker_files_path}}/nginx/runtime/logs/*.log {
    su root adm
    daily
    rotate 31
    missingok
    notifempty
    sharedscripts
    compress
    delaycompress
    copytruncate
    postrotate
        docker kill -s USR1 {{docker_nginx_container}} >/dev/null 2>&1
    endscript
}
